*.o
*.a
libs/libft/libft.a
libs/libft/obj/
libs/minilibx-linux/libmlx.a
libs/minilibx-linux/libmlx_Linux.a
libs/minilibx-linux/obj/
libs/minilibx-linux/test/main.o
libs/minilibx-linux/test/mlx-test
cub3d
cub3d_bonus
cub3d.lwp
obj*/
.vscode/
output
testmap_util
testmap_util_bonus
testmap_util_san
testmap_util_sanbonus