libs/libft/libft.a
libs/libft/obj/
libs/minilibx-linux/libmlx.a
libs/minilibx-linux/libmlx_Linux.a
libs/minilibx-linux/obj/
libs/minilibx-linux/test/main.o
libs/minilibx-linux/test/mlx-test
cub3d
obj/